*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    color:white;
}
body{
    background-color: rgb(50, 43, 43);
}
.container{
    width: 100%;  
}
.row{
    padding: 0px 80px 0px 40px;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    margin-top: 15px;
}
h1{
    color: red;
    background-color: black;
    padding: 10px;
    height: 50%;
    
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.navbar ul li{
    list-style: none;
    padding: 10px 10px;
    
}
.navbar ul li a{
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
}
.navbar h1{
    font-size: 25px;
    
}
